<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div object>
  <h2>Blogs</h2>
  <ul key="blogs" array sortable>
    {{#for blog in blogs}}
      <div class="flex flex-wrap -m-4" style="display: block; margin-left: auto; margin-right: auto;">
        <div class="p-4 md:w-1/2 w-full" style="display: block; margin-left: auto; margin-right: auto;">
          <div class="h-full bg-gray-100 p-8 rounded" style="display: block; margin-left: auto; margin-right: auto;">
            <li
              class="blog" 
              object
              key:text="@innerText" 
              edit:text
              >{{ default blog.text "New blog" }}</li>
              <span class="title-font font-medium text-gray-900">{{currentUser.details.username}}</span>
          </div>
        </div>
      </div>
    {{/for}}
  </ul>
  &nbsp
  <button class="add-blog" style="display: block; margin-left: auto; margin-right: auto;" new:blog>Add Blogs</button>
</div>
</body>

<footer>
  <a href="about">About Us</a>
  </footer>
</html>