<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1 class="text-3xl font-bold underline text-blue-700">
    Welcome to Blog Engine!
  </h1>
  {{!-- add two href for two images --}}
</body>
<footer>
  <a href="about">About Us</a>
  </footer>
</html>