<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div object>
  <h2 style="color: rgb(0, 119, 255)">Blogs</h2>
  <ul class="blogs" key="blogs" array sortable>
    {{#for blog in blogs}}
      <li
        class="blog" 
        object
        key:text="@innerText" 
        edit:text
        >{{ default blog.text "New blog" }}</li>
    {{/for}}
  </ul>
  <button class="add-blog" new:blog>Add Blogs</button>
</div>
</body>
<footer>
  <a href="about">About Us</a>
  </footer>
</html>